body {
	font-family: Verdana,sans-serif;
	font-size:0.9em;
	background:url('../img/flatiron.jpg') fixed 10% 10% no-repeat;
	background-size: 100%;

}

section, .section {
	display: block;
}

#header {
	margin-top:3%;
}

section.full-frame, .section.full-frame {
	
}

.row {
	background-color: rgba(255,255,255,0.9);
	box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.2);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }